

.movie__list h2{
    color: #fb643e;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem 0 2.5rem 6.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}


@media screen and (max-width: 450px){
 .movie__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
    .list__title {
        font-size: 1.75rem;
        margin:  2.5rem 0 2.5rem 0;
        }
    .list__cards a{
        padding: 0;
        margin-right: 0px;
        margin-bottom: 30px;
    }
}