.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.movie__list h2{
    color: #fb643e;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}