@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Alkatra&family=Chakra+Petch:wght@700&family=Cinzel:wght@600&family=DynaPuff:wght@500&family=EB+Garamond:wght@500&family=Fira+Sans:ital,wght@0,200;0,300;1,200&family=Genos:wght@800&family=Hind+Siliguri&family=Jost:wght@200&family=Lumanosimo&family=Noto+Serif:wght@700&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,600&family=Open+Sans:wght@300;400;600&family=Philosopher:wght@700&family=Playfair+Display:wght@500&family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@700&family=Roboto+Slab:wght@300&family=Roboto:wght@100;300&family=Shantell+Sans:ital,wght@1,300&family=Stick+No+Bills:wght@700&family=Tektur:wght@600&family=Ubuntu:wght@700&family=Victor+Mono&display=swap');
*{
    text-decoration: none;
    list-style: none;
    color: white;
}

header{
    height: 100%;
}
nav{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;   
}

.nav-logo{
    flex-basis:300px;
    text-align: center;
}

.nav-logo h1{
    color: white;
    font-family: Cinzel;
    font-weight: 600;
    font-size: 35px;
}

.nav-logo h1 span{
    color: #fb643e;
}

 .nav-menu{
    flex-basis: 800px;
    display: flex;
    justify-content: start; 
    align-items: center;
    gap: 70px;
    font-family: 'Chakra Petch', sans-serif;
     
}

.nav-menu .home-tab a{
    color: #fb643e;
}

.nav-menu .trending-tab a:hover{
    color: #fb643e;
    transition: .4s;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }


.nav-menu ul li{
    font-family: 'Chakra Petch', sans-serif;
    display: inline-block;
    margin-right: 70px;
    position: relative;   
}


.nav-menu li:hover .dropdown-menu {
    display: block;
    width: 120px;
  }
.nav-menu li a:hover{
    color: #fb643e;
    transition: .4s;
}
  
  .dropdown-menu {
    color: white;
    display: none;
    position: absolute;
    top: 100%;
    left: 0 ;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
  }
  
  .dropdown-menu li {
    width: 120px;
    margin: 0;
    padding: 25px 0 10px 0;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 14px;
  }


.dropdown-menu li:after {
    content: "";
    display: block;
    height: 4px;
    width: 70px;
    background-color: #fb643e;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.dropdown-menu li:hover::after {
    transform: scaleX(1);
}

.dropdown-menu li:hover {
    color: orange;
}

.nav-search{
    flex-basis: 300px;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    
} 
/* 
.searchbar{
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   max-width: 400px;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 20px;
   padding: 5px 10px;
}

.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #cac7ff;
}

.nav-search button i{
    font-size: 20px;
}

.nav-search button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #58629b;
    cursor: pointer;
} */

.nav-userprofile{
    flex-basis: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-userprofile span{
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: rgb(203, 197, 197);
    background-image: url('/public/Avatar.jpg');
    background-size: cover;
    transition: .2s;
}


