.tv__list{
  padding-top: 30px;
}

.tv__list h2{
  color: #fb643e;
}

.tv__title {
font-size: 1.75rem;
margin:  2.5rem 0 2.5rem 6.5rem;
}

.list__TvCards {
  padding-top: 20px;
  display: flex;
  overflow-y: hidden;
  padding-left: 6.5rem;
}

.list__TvCards::-webkit-scrollbar{
  display: none;
}


@media screen and (max-width: 450px) {
  .tv__title {
    margin: 2.5rem 0 2.5rem 4.5rem;
  }

  .list__TvCards{
    padding-left: 4.5rem;
  }
}

@media screen and (max-width: 400px) {
  .tv__title {
    margin: 2.5rem 0 2.5rem 3.5rem;
  }
  .list__TvCards{
    padding-left: 2.5rem;
  }
}
